<mat-toolbar class="df jc-sb" color="primary">
  <div>
    <span class="pointer" routerLink="">Genshin Impact DB</span>
  </div>
  <div class="df fd-r ai-ce" *ngIf="nome != ''">
    <span class="mr-10 pointer" matTooltip="Ir para Dashboard" routerLink="dashboard">{{ nome }}</span>
    <mat-icon class="pointer" aria-hidden="false" aria-label="icon" matTooltip="Sair" matTooltipClass="tooltip-red" (click)="logout()">exit_to_app</mat-icon>
  </div>
  <div *ngIf="nome == ''">
    <button routerLink="login" mat-raised-button>Login</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
