<div class="mr-25 mt-25 ml-25 titulo">
  <span>Cadastros para Acesso</span>
</div>
<div class="df fd-r fw-wa ai-ce m-15 pl-15 pr-15">
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">face icon</mat-icon>
        <span class="ml-5">Usuários</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">import_export</mat-icon>
        <span class="ml-5">Rotas</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
<div class="mr-25 mt-25 ml-25 titulo">
  <span>Cadastros para Visualização</span>
</div>
<div class="df fd-r fw-wa ai-ce m-15 pl-15 pr-15">
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">list</mat-icon>
        <span class="ml-5">Categorias</span>
      </div>
      <div class="df ai-ce">
        <span routerLink="categoria">
          <mat-icon aria-hidden="false" class="pointer" aria-label="icon">open_in_browser</mat-icon>
        </span>
      </div>
    </div>
  </mat-card>
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">apps</mat-icon>
        <span class="ml-5">Itens</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">whatshot</mat-icon>
        <span class="ml-5">Elementos</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">colorize</mat-icon>
        <span class="ml-5">Tipos de Arma</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="fb-2 m-10">
    <div class="df jc-sb">
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">mood</mat-icon>
        <span class="ml-5">Personagens</span>
      </div>
      <div class="df ai-ce">
        <mat-icon aria-hidden="false" aria-label="icon">open_in_browser</mat-icon>
      </div>
    </div>
  </mat-card>
</div>


